.swiper-container {
    margin-top: 20px; 
}

.swiper-pagination {
    margin-top: 10px;
}


/* Gaya scrollbar untuk browser berbasis WebKit */
::-webkit-scrollbar {
    width: 10px; /* Lebar scrollbar */
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #bbbbbb, #888888); /* Warna gradasi abu-abu */
    border-radius: 10px; /* Membuat thumb membulat */
    border: 2px solid #f0f0f0; /* Menambahkan border agar thumb terlihat terpisah */
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to bottom, #888888, #555555); /* Warna gradasi lebih gelap saat hover */
}

::-webkit-scrollbar-track {
    background: #f0f0f0; /* Warna area track scrollbar */
    border-radius: 10px; /* Membuat track membulat */
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1); /* Efek bayangan track */
}

/* Gaya scrollbar untuk Firefox */
* {
    scrollbar-width: thin; /* Membuat scrollbar lebih kecil */
    scrollbar-color: #888888 #f0f0f0; /* Warna thumb dan track */
}

.custom-scrollbar::-webkit-scrollbar {
    width: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #bbbbbb, #888888);
    border-radius: 10px;
    border: 2px solid #f0f0f0;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to bottom, #888888, #555555);
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #f0f0f0;
    border-radius: 10px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
}